<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="ITSApp" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="ITSApp" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="ITSApp" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="ITSApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Issue Tracking System - [ITS]</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="app/images/logo.png"/>
    <link rel="stylesheet" href="/bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="/app/app.css">
    <link rel="stylesheet" href="/app/styles/style.css">
    <link rel="stylesheet" href="/app/styles/jquery-ui.css">
    <link rel="stylesheet" href="/app/styles/jquery-ui.theme.css">
    <link rel="stylesheet" href="node_modules/angular-loading-bar/src/loading-bar.css">
    <script src="/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="MainController" ng-cloak>
<nav class="navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-9" aria-expanded="false"><span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            <a class="navbar-brand" href="#/"><img src="app/images/logo.png" alt="image" title="logo"/> </a></div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <ul class="nav navbar-nav" ng-if="isAuthenticated">
                <li><a href="#/dashboard">Dashboard</a></li>
                <li><a href="#/projects">Projects</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="isAuthenticated">
                <li><a class="navbar-right" href="#">Hi, {{currentUser.Username}}</a></li>
                <li><a class="navbar-right" ng-click="logout()" href="javascript:;">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="container">
    <div ng-view>

    </div>

</main>
<div data-footer></div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="node_modules/angular-cookies/angular-cookies.min.js"></script>
<script src="node_modules/jqueryui/jquery-ui.js"></script>
<script src="/app/common/services/myNotifications.js"></script>
<script src="/app/common/directives/footer.js"></script>
<script src="/app/common/directives/statusColor.js"></script>
<script src="/app/app.js"></script>
<script src="/app/views/user/authentication.js"></script>
<script src="/app/views/user/identity.js"></script>
<script src="/app/common/main-controller.js"></script>

<script src="/app/models/projects-model.js"></script>
<script src="/app/models/issues-model.js"></script>

<script src="/app/views/projects/projects-controller.js"></script>
<script src="/app/views/issue/issue-controller.js"></script>
<script src="/app/views/user/user-controller.js"></script>
<script src="/app/views/dashboard/dashboard-controller.js"></script>

<script src="node_modules/angular-loading-bar/src/loading-bar.js"></script>

<script src="/app/components/version/version.js"></script>
<script src="/app/components/version/version-directive.js"></script>
<script src="/app/components/version/interpolate-filter.js"></script>
<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
