<div class="panel panel-default">
    <div class="panel-heading"><h3 style="display:inline-block;">Edit issue</h3>
            </div>

    <div style="padding: 0 45px 0 0;">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bs-example" data-example-id="hoverable-table">
                    <table class="table table-hover">
                        <tr>
                            <td>Title</td>
                            <td><input class="form-control" required type="text" ng-model="issue.Title"
                                       value="{{issue.Title}}"></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td><textarea class="form-control" required ng-model="issue.Description">{{issue.Description}}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Due Date</td>
                            <td><input class="form-control" required type="date" ng-model="issue.DueDate"
                                       value="{{issue.DueDate | date:'yyyy-MM-dd'}}"></td>
                        </tr>
                        <tr>
                            <td>Priority</td>
                            <td>
                                <select required class="form-control" ng-model="issue.Priority">
                                    <option ng-selected="issue.Priority.Id" ng-repeat="priority in projectData.Priorities" value="{{priority.Id}}">{{priority.Name}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Assignee</td>
                            <td>
                                <input Priority ng-change="changeAssignee(issue.Assignee.Username)" class="form-control" type="text" ng-model="issue.Assignee.Username" value="issue.Assignee.Name"/>
                                <ul id="coolSearch" ng-if="listWithallUsers && issue.Assignee.Username.length > 2">
                                    <li ng-click="replaceValue(userFromList)" ng-repeat="userFromList in listWithallUsers">{{userFromList.Username}}</li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td>Labels</td>
                            <td><input type="text" class="form-control" ng-model="issue.Labels"  value="issue.Labels"/></td>
                        </tr>
                        <tr>
                            <td colspan="2"><button class="pull-right btn btn-primary" ng-click="editIssueBtn(issue)">Edit</button></td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>
</div>