/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.pagination{
  margin: 18px auto;
  width: 300px;
  display: block;
  padding: 0 0 30px 0;
}
.description-column{
  max-width: 260px;overflow: hidden;
}

.labels-and-priority{
  width: 130px;
}

input.form-control{
  height: 30px !Important;
}

.top-btn{
  margin-top: 10px;
  margin-left: 5px;
}
.modal-header,.modal-footer{
  text-align: center;
  background-color: #F3F3F3;
  font-weight:bold;
  font-size:15px;
}