<div class="panel panel-default">
    <div class="panel-heading"><h3 style="display:inline-block;">{{project.Name}}</h3>
        <a href="#/Projects">
            <button id="add-project-btn" class="btn btn-primary pull-right top-btn">All Projects</button>
            <button ng-if="project.Lead.Id == currentUser.Id" id="edit-project-btn" class="btn btn-primary pull-right top-btn">Edit Project</button>
        </a>
    </div>
    <div class="panel-body"></div>
    <div class="clearfix"></div>

    <div class="bs-example" data-example-id="hoverable-table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Project Name</th>
                <th>Project Leader</th>
                <th>Description</th>
                <th>Project Key</th>
                <th>Labels</th>
                <th>Priority</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{project.Name}}</td>
                <td>{{project.Lead.Username}}</td>
                <td class="description-column">{{project.Description}}</td>
                <td class="labels-and-priority">{{project.ProjectKey}}</td>
                <td class="labels-and-priority"><span ng-repeat="label in project.Labels"><span class="label label-primary">{{label.Name}}</span> </span></td>
                <td class="labels-and-priority"><span ng-repeat="priority in project.Priorities"><span class="label label-danger">{{priority.Name}}</span> </span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel-heading"><h3 style="display:inline-block;">Projects Issues</h3>
        <a href="#/">
            <button id="add-issue-btn" class="btn btn-primary pull-right top-btn">Add Issue</button>
        </a>
    </div>
    <div class="panel-body">
        <button class="btn btn-primary pull-left top-btn">Assigned Issues</button>
        <button class="btn btn-primary pull-left top-btn">All Project`s Issues</button>
        <select class="top-btn form-control" style="width: 155px;display: inline-block;">
            <option>-All status types-</option>
            <option>Open</option>
            <option>Close</option>
            <option>InProgress</option>
            <option>StoppedProgress</option>
        </select>
        <input class="top-btn form-control" style="width: 200px;display: inline-block;" type="text" placeholder="Search by name">
    </div>
    <div class="clearfix"></div>
    <div class="bs-example" data-example-id="hoverable-table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Title</th>
                <th>Due Date</th>
                <th>Priority</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody ng-repeat="issue in issues">
            <tr>
                <td>{{issue.Title}}</td>
                <td>{{issue.DueDate | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                <td>{{issue.Priority.Name}}</td>
                <td><span class="label"
                          ng-class="{'label-danger':(issue.Status.Name == 'Closed'),
                          'label-primary':(issue.Status.Name == 'Open'),
                          'label-success':(issue.Status.Name == 'InProgress'),
                          'label-warning':(issue.Status.Name == 'StoppedProgress')}">{{issue.Status.Name}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>