<div class="panel panel-default">
    <div class="panel-heading"><h3 style="display:inline-block;">Projects</h3> <a href="#/projects/create"><button id="add-project-btn" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span>New Project</button></a></div>
    <div class="panel-body">
    </div>

    <div class="bs-example" data-example-id="hoverable-table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Project Name</th>
                <th>Project Leader</th>
                <th>Priority</th>
                <th>Labels</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>