<div class="panel panel-default">
    <div class="panel-heading"><h3 style="display:inline-block;">New project</h3>
        <a href="#/Projects">
            <button id="add-project-btn" class="btn btn-primary pull-right top-btn">All Projects</button>
            <button id="edit-project-btn" class="btn btn-primary pull-right top-btn">Edit Project</button>
        </a>
    </div>
    <div class="panel-body"></div>
    <div class="clearfix"></div>

    <div class="bs-example" data-example-id="hoverable-table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Project Name</th>
                <th>Project Leader</th>
                <th>Description</th>
                <th>Project Key</th>
                <th>Labels</th>
                <th>Priority</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Name</td>
                <td>Project Leader</td>
                <td class="description-column">Description</td>
                <td class="labels-and-priority">Project Key</td>
                <td class="labels-and-priority">Labels</td>
                <td class="labels-and-priority">Priority</td>
            </tr>
            </tbody>
        </table>
    </div>



    <div class="panel-heading"><h3 style="display:inline-block;">Projects Issues</h3>
        <a href="#/">
            <button id="add-issue-btn" class="btn btn-primary pull-right top-btn">Add Issue</button>
        </a>
    </div>
    <div class="panel-body"></div>
    <div class="clearfix"></div>
    <div class="bs-example" data-example-id="hoverable-table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Assignee</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>Due Date</td>
                <td>Assignee</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>Due Date</td>
                <td>Assignee</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>Due Date</td>
                <td>Assignee</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>Due Date</td>
                <td>Assignee</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>Due Date</td>
                <td>Assignee</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>Due Date</td>
                <td>Assignee</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>Due Date</td>
                <td>Assignee</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>