<div class="panel panel-default">
    <div class="panel-heading"><h3 style="display:inline-block;">{{project.Name}}</h3>
        <a href="#/Projects">
            <a href="#/projects"><button class="btn btn-primary pull-right top-btn">All Projects</button></a>
            <button ng-if="project.Lead.Id == currentUser.Id" ng-click="editProjectModalForm()" id="edit-project-btn" class="btn btn-primary pull-right top-btn">Edit Project</button>
        </a>
    </div>
    <div class="panel-body"></div>
    <div class="clearfix"></div>

    <div class="bs-example" data-example-id="hoverable-table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Project Name</th>
                <th>Project Leader</th>
                <th>Description</th>
                <th>Project Key</th>
                <th>Labels</th>
                <th>Priority</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{project.Name}}</td>
                <td>{{project.Lead.Username}}</td>
                <td class="description-column">{{project.Description}}</td>
                <td class="labels-and-priority">{{project.ProjectKey}}</td>
                <td class="labels-and-priority"><span ng-repeat="label in project.Labels"><span class="label label-primary">{{label.Name}}</span> </span></td>
                <td class="labels-and-priority"><span ng-repeat="priority in project.Priorities"><span class="label label-danger">{{priority.Name}}</span> </span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel-heading"><h3 style="display:inline-block;">Projects Issues</h3>
            <button id="add-issue-btn" ng-click="addIssueModalForm()" class="btn btn-primary pull-right top-btn">Add Issue</button>
    </div>
    <div class="panel-body">
        <select ng-model="statusFilter.Status.Name" class="top-btn form-control" style="width: 155px;display: inline-block;">
            <option value="">Select by status</option>
            <option value="Open">Open</option>
            <option value="Closed">Closed</option>
            <option value="InProgress">InProgress</option>
            <option value="StoppedProgress">StoppedProgress</option>
        </select>
        <input ng-model="nameFilter.Title" class="top-btn form-control" style="width: 200px;display: inline-block;" type="text" placeholder="Search by name">
    </div>
    <div class="clearfix"></div>
    <div class="bs-example" data-example-id="hoverable-table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Title</th>
                <th>Due Date</th>
                <th>Priority</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody ng-repeat="issue in issues | filter: statusFilter | filter : nameFilter">
            <tr>
                <td><a href="#/issue/{{issue.Id}}">{{issue.Title}}</a></td>
                <td>{{issue.DueDate | date:"dd/MM/yyyy 'at' hh:mma"}}</td>
                <td>{{issue.Priority.Name}}</td>
                <td><span status-color="issue.Status.Name">{{issue.Status.Name}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>