<div class="panel panel-default">
    <div class="panel-heading"><h3 style="display:inline-block;">Change user password</h3></div>
    <div class="panel-body">
    </div>
    <div class="clearfix"></div>
    <div class="container">
        <div id="user-panel" class="row">
            <div class="col-md-3">
                <div>&nbsp;</div>
            </div>
            <div class="col-md-5">
                <form name="changePasswordForm" id="changePassword-form">
                    <div class="form-group">
                        <label for="OldPassword">Old Password</label>
                        <input ng-model="newPass.OldPassword" type="password" class="form-control"
                               id="OldPassword" placeholder="Old Password...">
                    </div>
                    <div class="form-group">
                        <label for="NewPassword">New Password</label>
                        <input ng-model="newPass.NewPassword" type="password" class="form-control"
                               id="NewPassword" placeholder="New Password...">
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword">Confirm Password</label>
                        <input ng-model="newPass.ConfirmPassword" type="password" class="form-control"
                               id="ConfirmPassword" placeholder="Confirm Password...">
                    </div>
                    <button ng-click="changePassword(newPass)" class="btn btn-primary center-block">Change
                        Password
                    </button>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="col-md-3">
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
</div>
