<div class="panel panel-default">
    <div class="panel-heading"><h3 style="display:inline-block;">User panel</h3> <a href="#/">
    </a></div>
    <div class="panel-body">
    </div>
    <div class="clearfix"></div>
    <div class="container">
        <div id="user-panel" class="row">
            <div class="col-md-5">
                <form class="form-title" name="loginForm" id="login-form">
                    <h3>Login</h3>
                    <div class="form-group">
                        <label for="login-username">Username</label>
                        <input type="text" ng-model="loginUser.username" name="username" class="form-control" id="login-username" placeholder="Username...">
                    </div>
                    <div class="form-group">
                        <label for="login-password">Password</label>
                        <input ng-model="loginUser.password" name="password" type="password" class="form-control" id="login-password" placeholder="Password...">
                    </div>
                    <button ng-click="login(loginUser)" class="btn btn-primary center-block">Login</button>
                    <div class="clearfix"></div>
                </form>
            </div>

            <div class="col-md-5 col-md-offset-2">
                <form name="registerForm" id="register-form">
                    <h3 class="form-title">Registration</h3>
                    <div class="form-group">
                        <label for="register-username">Username</label>
                        <input ng-model="registerUser.username" type="text" class="form-control" id="register-username" placeholder="Username...">
                    </div>
                    <div class="form-group">
                        <label for="register-password">Password</label>
                        <input ng-model="registerUser.password" type="password" class="form-control" id="register-password" placeholder="Password...">
                    </div>
                    <div class="form-group">
                        <label for="register-confirm-password">Confirm Password</label>
                        <input ng-model="registerUser.confirmPassword" type="password" class="form-control" id="register-confirm-password" placeholder="Confirm Password...">
                    </div>
                    <div class="form-group">
                        <label for="register-name">Name</label>
                        <input ng-model="registerUser.name" type="text" class="form-control" id="register-name" placeholder="Name...">
                    </div>
                    <div class="form-group">
                        <label for="register-email">Email</label>
                        <input ng-model="registerUser.email" type="email" class="form-control" id="register-email" placeholder="Email...">
                    </div>
                    <div class="form-group">
                        <label for="register-gender-male">Male</label>
                        <input ng-model="registerUser.gender" type="radio" checked="checked" id="register-gender-male" value="1" name="register-gender">
                        <label for="register-gender-female">Female</label>
                        <input ng-model="registerUser.gender" type="radio" id="register-gender-female" value="2" name="register-gender">
                        <label for="register-gender-other">Other</label>
                        <input ng-model="registerUser.gender" type="radio" id="register-gender-other" value="0" name="register-gender">
                    </div>
                    <button ng-click="register(registerUser)" class="btn btn-primary center-block">Register</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
