<div class="panel panel-default">
    <div class="panel-heading"><h3 style="display:inline-block;">User panel</h3> <a href="#/">
    </a></div>
    <div class="panel-body">
    </div>
    <div class="clearfix"></div>
    <div class="container">
        <div id="user-panel" class="row">
            <div class="col-md-5">
                <form name="loginForm" id="login-form">
                    <h3 class="form-title">Login</h3>
                    <div class="form-group">
                        <label for="login-email">Email</label>
                        <input type="email" ng-model="loginUser.email" name="email" class="form-control" id="login-email" placeholder="Email...">
                    </div>
                    <div class="form-group">
                        <label for="login-password">Password</label>
                        <input ng-model="loginUser.password" name="password" type="password" class="form-control" id="login-password" placeholder="Password...">
                    </div>
                    <button ng-click="login(loginUser)" class="btn btn-primary center-block">Login</button>
                    <div class="clearfix"></div>
                </form>
            </div>

            <div class="col-md-5 col-md-offset-2">
                <form name="registerForm" id="register-form">
                    <h3 class="form-title">Registration</h3>
                    <div class="form-group">
                        <label for="register-email">Email</label>
                        <input ng-model="registerUser.email" type="email" class="form-control" id="register-email" placeholder="Email...">
                    </div>
                    <div class="form-group">
                        <label for="register-password">Password</label>
                        <input ng-model="registerUser.password" type="password" class="form-control" id="register-password" placeholder="Password...">
                    </div>
                    <div class="form-group">
                        <label for="register-confirm-password">Confirm Password</label>
                        <input ng-model="registerUser.confirmPassword" type="password" class="form-control" id="register-confirm-password" placeholder="Confirm Password...">
                    </div>
                    <button ng-click="register(registerUser)" class="btn btn-primary center-block">Register</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
